.little-circle {
  left: 6rem;
  top: 9.6rem;
  width: 6.5rem;
  height: 6.5rem;
  background-color: var(--azul-bola-menor);
}

.big-circle {
  top: 28rem;
  left: -8rem;
  background-color: var(--azul-bola-maior);
}

.btn {
  background-color: var(--azul-escuro);
}
