.little-circle {
  left: 4.5rem;
  top: 12.3rem;
  width: 7rem;
  height: 7rem;
  background-color: var(--verde-claro-medio);
}

.big-circle {
  top: 22rem;
  left: -23rem;
  background-color: var(--verde-claro-claro);
}

.btn {
  background-color: var(--verde-claro-escuro);
}
