.bola-pequena {
    left: 4.5rem;
    top: 12.3rem;
    width: 7rem;
    height: 7rem;
    background-color: var(--verde-claro-medio);
}

.bola-grande {
    top: 22rem;
    left: -23rem;
    background-color: var(--verde-claro-claro);
}

ul .botoes.ativo {
    background: var(--cinza-claro);
    width: 2rem;
}

.btn {
    background-color: var(--verde-claro-escuro);
}